$main-background-color: hsla(56, 100%, 67%, 1);
$card-border-color: hsla(232, 100%, 67%, 1);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  background-color: $main-background-color  ;
}
.card-table {

}
.flip-card {
  border: 2px solid $card-border-color;
  border-radius: 5px;
}
img {
  width: 100px;
  height: 100px;
}
